html, body {
  background: #36393F;
  color: #D9DDD4;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 150ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

footer {
  margin-top: 2%;
}

.toc {
  list-style: none;
}
