html, body {
  background: #36393F;
  color: #D9DDD4;
}

.page-leave-active {
  transition: opacity 0.25s ease-out;
}

.page-enter-active {
  transition: opacity 0.5s ease-in;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

footer {
  margin-top: 2%;
}

.toc {
  list-style: none;
}
